@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

html {
  background:#000;
  overflow:hidden;
}

.data {
  position:relative;
  z-index:10;
  text-align:center;  
}

h1, h2, .ghost {
  font-family:Montserrat;
  font-weight:600;  
  margin:0;
}
  
h1 {
  font-size:64px;
  color:#FFF;
  letter-spacing:-2px;
}

h2 {
  font-size:24px;
  color: #000;
  text-shadow: 0 0 5px #282828;
}

.ghost {
  font-weight:400;
  font-size:15px;
  color:#CCC;
  display:inline-block;
  margin:8px 2px;
  padding:8px;
  border:1px solid #CCC;
  text-decoration:none;
  background: RGBA(0,0,0, .5);  
}

a.ghost:hover {
  -webkit-transition:all .5s linear;
  transition:all .5s linear;
  background:RGBA(0,0,0, .85);
  border-color:#ee4d00;
  color:#ee4d00;
}

#screen {
  position:absolute;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
}

.orange {
  display:block;
  width:329px;
  height:329px;
  -webkit-filter: drop-shadow(0 0 5px orange);
          filter: drop-shadow(0 0 5px orange);
  -webkit-animation:spin 2.5s linear infinite,
            move 5s linear infinite alternate;
          animation:spin 2.5s linear infinite,
            move 5s linear infinite alternate;
  
  position:absolute;
  bottom:100px;
  left:calc(50% - 165px);
  mix-blend-mode:darken;
}

.piece {
  fill:#ee7c00;
}

@-webkit-keyframes spin {
  0% { -webkit-transform:rotate(0); transform:rotate(0) }
  100% { -webkit-transform:rotate(360deg); transform:rotate(360deg) }
}

@keyframes spin {
  0% { -webkit-transform:rotate(0); transform:rotate(0) }
  100% { -webkit-transform:rotate(360deg); transform:rotate(360deg) }
}

@-webkit-keyframes move {
  0% { left:calc(50% - 165px + 250px) }
  100% { left:calc(50% - -165px - 550px) }
}

@keyframes move {
  0% { left:calc(50% - 165px + 250px) }
  100% { left:calc(50% - -165px - 550px) }
}

.orange.outside {
  z-index:5;
  border-radius:50%;  
  background:-webkit-radial-gradient(orange, #ee5200);  
  background:radial-gradient(orange, #ee5200);
  -webkit-animation:spin 2.5s linear infinite,
            move 5s linear infinite alternate-reverse;
          animation:spin 2.5s linear infinite,
            move 5s linear infinite alternate-reverse;  
}

.crowd {
  width:100%;
  height:100%;
  background:url(https://raw.githubusercontent.com/ManzDev/codevember2017/master/assets/concert.jpg) no-repeat bottom;
  background-size:1500px 950px;
  box-shadow: 250px 0 30px #000 inset, -250px 0 30px #000 inset;  
  -webkit-animation:appears 6s ease-in-out 1 6s forwards;  
          animation:appears 6s ease-in-out 1 6s forwards;
  opacity:0;
  position:absolute;
  z-index:-1;
}

@-webkit-keyframes appears {
  0% { opacity:0 }
  100% { opacity:1 }
}

@keyframes appears {
  0% { opacity:0 }
  100% { opacity:1 }
}