@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

html {
  background:#FFF;
  overflow:hidden;
}

.data {
  position:relative;
  z-index:1;
  text-align:center;
  top: 25vh;
  opacity:0;
  -webkit-animation:appears 4s linear 1 forwards 70s;
          animation:appears 4s linear 1 forwards 70s;
}

h1, h2, .ghost {
  font-family:Montserrat;
  font-weight:600;
  margin:0;
}

h1 {
  font-size:64px;
  color:#444;
}

h2 {
  font-size:24px;
  color:#888;
}

.ghost {
  font-weight:400;
  font-size:15px;
  color:#ff6100;
  display:inline-block;
  margin:8px 2px;
  padding:8px;
  border:1px solid #ff6100;
  text-decoration:none;
}

a.ghost:hover {
  -webkit-transition:all .5s linear;
  transition:all .5s linear;
  border-color:yellow;
  color:yellow;
}

#screen {
  position:absolute;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  -webkit-transform:translateY(800px);
          transform:translateY(800px);

  -webkit-animation:camera 15s ease 2s 1 forwards;

          animation:camera 15s ease 2s 1 forwards;
}

/** Codevember **/

#cheese {
  display:block;
  width:425px;
  height:175px;
}

#cheese ellipse {
  fill:#ff6100;
}

.ground {
  width:100vw;
  height:50px;
  position:absolute;
  top:400px;
  left:0;
  background:-webkit-linear-gradient(top, #CCC 0%, #FFF 65%);
  background:linear-gradient(to bottom, #CCC 0%, #FFF 65%);
}

.shadow {
  background:-webkit-linear-gradient(top, RGBA(0,0,0, .30), RGBA(255,255,255, 0) 75%);
  background:linear-gradient(to bottom, RGBA(0,0,0, .30), RGBA(255,255,255, 0) 75%);
  width:500px;
  height:100px;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 0, 48% 32%, 0 63%, 20% 0);
          clip-path: polygon(50% 0%, 100% 0, 100% 0, 48% 32%, 0 63%, 20% 0);
  position:absolute;
  top:170px;
  left:-95px;
}

.cheese-shadow {
  position:absolute;
  top:230px;
  left:calc(50vw - 200px);
  z-index:2;
}

.mouse {
  width:1024px;
  height:128px;
  background:url(https://manzdev.github.io/codevember2017/assets/mouse-sprites.png);
  background-position:0 0;
  background-size:1024px 256px;
  position:absolute;
  z-index:3;
  -webkit-animation:movemouse 10s linear 1 forwards;
          animation:movemouse 10s linear 1 forwards;
}

.mouse.click {
  background-position:0 128px!important;
}

.mouse.mirror {
  -webkit-animation:movemousemirror 10s linear 1 forwards reverse;
          animation:movemousemirror 10s linear 1 forwards reverse;
}

@-webkit-keyframes camera {
  0% {
    -webkit-transform:translateY(800px);
            transform:translateY(800px);
  }
  100% {
    -webkit-transform:translateY(0);
            transform:translateY(0);
  }
}

@keyframes camera {
  0% {
    -webkit-transform:translateY(800px);
            transform:translateY(800px);
  }
  100% {
    -webkit-transform:translateY(0);
            transform:translateY(0);
  }
}

@-webkit-keyframes movemouse {
  0% { -webkit-transform:translateX(100vw); transform:translateX(100vw) }
  100% { -webkit-transform:translateX(60vw); transform:translateX(60vw) }
}

@keyframes movemouse {
  0% { -webkit-transform:translateX(100vw); transform:translateX(100vw) }
  100% { -webkit-transform:translateX(60vw); transform:translateX(60vw) }
}

@-webkit-keyframes movemousemirror {
  0% {
    left:calc(-1024px + 40vw);
  }
  100% {
    left:calc(-1024px)
  }
}

@keyframes movemousemirror {
  0% {
    left:calc(-1024px + 40vw);
  }
  100% {
    left:calc(-1024px)
  }
}

.fade {
  position:absolute;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  background:#000;
}

@-webkit-keyframes appears {
  0% { opacity:0 }
  100% { opacity:1 }
}

@keyframes appears {
  0% { opacity:0 }
  100% { opacity:1 }
}
