@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

html, body {
  background:#000;
  overflow:hidden;
}

.data {
/*   position:relative;
  z-index:11; */
  width: 425px;
  margin-top: 18px;  
  text-align:center;  
}

h1, h2, .ghost {
  font-family:Montserrat;
  font-weight:600;  
  margin:0;
}
  
h1 {
  font-size:64px;
  color:#444;
}

h2 {
  font-size:24px;
  color:#888;
}

.ghost {
  font-weight:400;
  font-size:15px;
  color:#CCC;
  display:inline-block;
  margin:8px 2px;
  padding:8px;
  border:1px solid #CCC;
  text-decoration:none;
}

a.ghost:hover {
  -webkit-transition:all .5s linear;
  transition:all .5s linear;
  background:rgba(50,50,50, .2);
  border-color:#f2ea00;
  color:#f2ea00;
}

/* Codevember */

#screen {
  width:1024px;
  margin:auto;
  background:#000 url(https://i.imgsafe.org/46/46f6db4cea.png) no-repeat bottom;
  position:absolute;
  top:25px;
  left:calc((100vw - 1024px) / 2);
  border:10px solid #333;
  border-radius:25px;
  box-shadow:0 0 15px #555;
  overflow:hidden;
}

#rocket {
  width:256px;
  height:336px;
  position:absolute;
}

#cassette {
  width:128px;
  height:128px;
  background:url(https://raw.githubusercontent.com/ManzDev/codevember2017/master/assets/cassette.png);
  background-size:128px 128px;
  position:absolute;
  top:0;
  right:25px;
  opacity:0;
}

#cassette.on {
  opacity:1
}

#canvas {
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
}